<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975278950048-obpm4s1jevgn0dmsuuvj2ui0qhu46f0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975278950048-obpm4s1jevgn0dmsuuvj2ui0qhu46f0t</string>
	<key>API_KEY</key>
	<string>AIzaSyC3lGRo-o4x_8DpJhmdSVGnsIrISL9cKec</string>
	<key>GCM_SENDER_ID</key>
	<string>975278950048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.solidradio</string>
	<key>PROJECT_ID</key>
	<string>solid-radio</string>
	<key>STORAGE_BUCKET</key>
	<string>solid-radio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975278950048:ios:3673f465f7cdc40fe7abc5</string>
	<key>DATABASE_URL</key>
	<string>https://solid-radio.firebaseio.com</string>
</dict>
</plist>